<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.attendance.mapper.AttendanceMapper">
		
<!-- Mapper에 작성한 기능 실행시킬 SQL 작성 -->

	<!-- ===== 1. 사원의 출퇴근 기록부 및 현황 ===== -->
	<!-- 1) 출근 시간 등록 -->
	<insert id="insertCheckInTime" parameterType ="AttendanceCheckDTO">
		insert into attendance (emp_id, work_date, check_in_time)
		values (#{empId}, current_date, #{checkInTime})
	</insert>
	
	<!-- 2) 퇴근 시간 등록 -->
	<update id="insertCheckOutTime" parameterType="AttendanceCheckDTO">
		update attendance
		set check_out_time = #{checkOutTime}
		where emp_id = #{empId} and date = current_date
	</update>
	
	<!-- 3) 특정 사원의 출퇴근 기록 조회 (날짜 기준), 지각 여부 반환 -->
	<select id="selectAttendanceByEmpIdAndDate" parameterType="map" resultType="com.itwill.attendance.dto.AttendanceCheckDTO">
		select emp_id, work_date, check_in_time, check_out_time
		from attendance
		where emp_id = #{empId} and work_date = #{workDate}
	</select>
		
	<!-- ===== 2. 사원의 지각 현황 ===== -->	
	
	<!-- 1) 사원의 지각 상세 기록 조회 (파일 및 승인 상태 포함) -->
	<select id="findLatenessRecordsByEmpIdAndDateRange" parameterType="map" resultType="com.itwill.attendance.dto.AttendanceLateDTO">
		SELECT 
			a.emp_id, a.work_date AS startDate, a.lateness_minutes, a.reason,
			f.file_name AS fimeName, f.file_path, f.file_size, f.file_type,
			s.status AS managerCheck
		FROM 
			attendance a
			LEFT JOIN file f ON a.attendance_id = f.attendance_id
			LEFT JOIN signatures s ON a.attendance_id = s.attendance_id
		WHERE 
			a.emp_id = #{empId}
			AND a.work_date BETWEEN #{startDate} AND #{endDate}
			AND a.lateness_minutes > 0
		ORDER BY 
			a.work_date ASC
	</select>
	
	<!-- 2) 사원의 지각 통계 조회 (횟수, 총 지각 시간) -->
	<select id="countTotalLateStatsByEmpIdAndDateRange" parameterType="map" resultType="com.itwill.attendance.dto.AttendanceLateDTO">
		SELECT 
			COUNT(*) AS totalLateCount,
			SUM(lateness_minutes) AS totalLateMinutes
		FROM 
			attendance
		WHERE 
			emp_id = #{empId}
			AND work_date BETWEEN #{startDate} AND #{endDate}
			AND lateness_minutes > 0
	</select>
		

</mapper>
